@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-VF.woff2") format("woff2");
    font-weight: 300 700;
    font-style: normal;
}

html {
    font-family: "Fira Code", system-ui, -apple-system, Roboto, sans-serif;
}