@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: "JetBrains Mono", monospace, system-ui, -apple-system, Roboto, sans-serif;
    font-size: 1.1rem;
    font-variant-ligatures: normal;
    --background: #080808;
    font-optical-sizing: auto;
    --foreground: #D5C3C3
}

::selection {
    background: var(--foreground);
    color: var(--background);
}

::-moz-selection {
    background: var(--foreground);
    color: var(--background);
}