@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-VF.woff2") format("woff2");
    font-weight: 300 700;
    font-style: normal;
}

* {
    font-family: "Fira Code", system-ui, -apple-system, Roboto, sans-serif;
    --background: #080808;
    --foreground: #D5C3C3
}

::selection {
    background: var(--foreground);
    color: var(--background);
}

::-moz-selection {
    background: var(--foreground);
    color: var(--background);
}