---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="devin/▊▊▊">
  <h1>404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 404 </h1>
  <p>Zzz... zzz...</p>
  <p class="text-xs">Huh? You...</p>
  <p class="text-xs">This space doesn't exist. How are you here? Why are you here? Did you expect to find something in nothing?</p>
  <p class="text-xs">...</p>
  <p class="text-xs">...</p>
  <p class="text-sm">Well, you didn't.</p>
  <p class="text-xs">...</p>
  <p class="text-xs">...</p>
  <p class="text-xs">...</p>
  <p class="text-base">You're still here? Are you lost?</p>
  <p>...Okay, fine. I'll help, but only this one time... it is my job after all. However, I expect you to never come back, okay?</p>
  <p>...</p>
  <p>!!!</p>
  <p>There, a one-way link <a href="/" class="underline hover:text-background hover:bg-foreground">back</a>.</p>
  <p class=""><span class="text-xs">*Sigh*</span> That took a lot of energy to make.</p>
  <p>Now, if you'll be going, I'll be returning to the slumber that you <span class="text-xs">rudely</span> interrupted.</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>Zzz... zzz...</p>
  <p>Zzz...</p>
</BaseLayout>