---
import Footer from '../components/Footer.astro';
import ExperienceLayout from '../layouts/ExperienceLayout.astro';
---

<ExperienceLayout>
    <a href="/" class="m-10 hover:bg-foreground hover:text-background">&lt;- back to home</a>
    <main class="flex flex-col items-center justify-center font-semibold text-lg">
        <div class="w-1/2">
            <h2>skills</h2>
            <ol><li><h3>proficient</h3></li></ol>
            <ul class="list-disc">
                <li>C / C++</li>
                <li>typescript</li>
                <li>python</li>
            </ul>
            <ol start="2"><li><h3>comfortable</h3></li></ol>
            <ul class="list-disc">
                <li>C#</li>
                <li>java</li>
                <li>visual basic</li>
            </ul>
            <ol start="3"><li><h3>learning</h3></li></ol>
            <ul class="list-disc">
                <li>rust</li>
            </ul>
            <ol start="4"><li><h3>tools & technologies</h3></li></ol>
            <ul class="list-disc">
                <li>virtualization: docker, virtualbox
                <li>continuous integration: github actions</li>
                <li>build tools: cmake, make, cargo, ninja</li>
                <li>databases: sqlite, postgresql</li>
                <li>version control: git, github</li>
                <li>cloud platforms: supabase, cloudflare, azure, digitalocean</li>
                <li>documentation: markdown, latex, microsoft office</li>
            </ul>
        </div>
        <div class="w-1/2 mt-16">
            <h2>experience</h2>
            <ul class="list-none timeline">
                <li class="">
                    <span class="">feb. 2024 - present</span>
                    <a href="https://owlhacks.com" class="hover:bg-foreground hover:text-background">owlhacks lead developer</a>
                </li>
                <li>
                    <span class="">aug. 2023 - may. 2024</span>
                    CS peer tutor & TA for low-level sys. programming
                </li>
                <li>
                    <span class="">may. 2023 - jul. 2023</span>
                    <a href="https://coventry.com" class="hover:bg-foreground hover:text-background">software eng. intern at coventry</a>
                </li>
                <li>
                    <span class="">jan. 2023 - may. 2023</span>
                    TA for program design and abstraction (intro to java)
                </li>
            </ul>
        </div>
        <div class="w-1/2 mt-16">
            <h2>projects</h2>
            <ul class="list-none project-list">
                <li class="">
                    <span>
                        <a href="https://github.com/CIS-3207-F22/project-2-linux-shell-devinrankin/" class="hover:text-background hover:bg-foreground" target="_blank">shell</a>
                    </span>
                    developed a unix shell clone in C; implemented internal commands like 'cd', 'help', 'echo', etc.</a>
                </li>
                <li>
                    <span>
                        <a href="https://github.com/devinrankin/c8-emu" class="hover:text-background hover:bg-foreground" target="_blank">chip-8 emulator</a>
                    </span>
                    a simple chip-8 emulator written in c++. pretty much a beginner emulation project.
                </li>
                <li>
                    <span>
                        <a href="https://github.com/devinrankin/gbc-emu" class="hover:text-background hover:bg-foreground" target="_blank">gameboy color emulator</a>
                    </span>
                    a follow up emulation project that i'm currently working on. also written in c++.
                </li>
                <li>
                    <span class="">
                        <a href="https://github.com/InquiryEDU" class="hover:bg-foreground hover:text-background" target="_blank">inquiry</a></span>
                    hackathon project. inquiry is a multi-platform real-time messaging and reaction app for students to ask questions without the fear of public opinion. uses typescript, next, electron, and supabase.
                </li>
            </ul>
        </div>
    </main>
    <Footer />
</ExperienceLayout>


<style>
    ol {
        margin-top: 1.5rem;
        list-style-type: decimal;
    }
    ul {
        padding-left: 0rem;
        margin-top: 1rem;
    }
    h2 {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    h3 {
        font-weight: 700;
    }

    .timeline {
        list-style: none;
    }

    .timeline li {
        display: grid;
        grid-template-columns: 20rem 1fr;
        gap: 1rem;
        padding: 0.5rem 0;
    }

    .project-list {
        list-style: none;
    }

    .project-list li {
        display: grid;
        grid-template-columns: 20rem 1fr;
        gap: 1rem;
        padding: 0.5rem 0;
    }
</style>
