---
import ExperienceLayout from '../layouts/ExperienceLayout.astro';
---

<ExperienceLayout>
    <a href="/" class="m-10 hover:bg-[#D5C3C3] hover:text-[#080808]">&lt;- back to home</a>
    <main class="flex flex-col items-center h-screen justify-center font-semibold text-lg">
        
    </main>
</ExperienceLayout>