---
import Footer from '../components/Footer.astro';
import ExperienceLayout from '../layouts/ExperienceLayout.astro';
---

<ExperienceLayout>
    <h2 class="font-black mt-16"># Experience</h2>
    <ul class="mt-8 space-y-10 lg:w-3/4 experience">
       <li>
            <span>Feb. 2024 - Present</span>
            <h3>
                <a href="https://owlhacks.com" class="hover:bg-foreground hover:text-background">
                    Owlhacks Lead Developer
                </a>
            </h3>
        </li>
        <li>
            <span>Aug. 2023 - May. 2024</span>
            <h3>
                CS Peer Tutor & Operating Systems Teaching Assistant
            </h3>
        </li>
        <li>
            <span>May. 2023 - Jul. 2023</span>
            <h3>
                <a href="https://coventry.com" class="hover:bg-foreground hover:text-background">
                    Software Eng. Intern @ Coventry Life Settlements
                </a>
            </h3>
        </li>
        <li>
            <span>Jan. 2023 - May. 2023</span>
            <h3>
                Program Design & Abstraction Teaching Assistant
            </h3>
        </li> 
    </ul>

    <h2 class="font-black mt-16"># Projects</h2>
    <ul class="mt-8 space-y-10 w-3/4 experience">
        <li>
            <h3>
                <a href="https://github.com/CIS-3207-F22/project-2-linux-shell-devinrankin/" class="hover:text-background hover:bg-foreground" target="_blank">Shell</a>
            </h3>
            Developed a UNIX shell clone in C; implemented internal commands like 'cd', 'help', 'echo', etc.</a>
        </li>
        <li>
            <h3>
                <a href="https://github.com/devinrankin/c8-emu" class="hover:text-background hover:bg-foreground" target="_blank">CHIP-8 Emulator</a>
            </h3>
            <span>
                A simple CHIP-8 emulator written in <span class="whitespace-nowrap">C++</span>. Pretty much a beginner emulation project.
            <span>
        </li>
        <li>
            <h3>
                <a href="https://github.com/devinrankin/gbc-emu" class="hover:text-background hover:bg-foreground" target="_blank">Game Boy Color Emulator</a>
            </h3>
            <span>
                A follow up emulation project that i'm currently working on. Also written in <span class="whitespace-nowrap">C++</span>.
            </span>
        </li>
        <li>
            <h3>
                <a href="https://github.com/InquiryEDU" class="hover:bg-foreground hover:text-background" target="_blank">Inquiry</a>
            </h3>
            <span>
                Hackathon project. Inquiry is a multi-platform real-time messaging and reaction app for students to ask questions without the fear of public opinion. Uses Typescript, Next, Electron, and Supabase.
            </span>
        </li>
    </ul>

        <h2 class="font-black mt-16"># Skills</h2>
        <h3>## Used Often</h3>
        <ul>
            <li><span class="list-style">-</span> C / C++</li>
            <li><span class="list-style">-</span> Typescript</li>
            <li><span class="list-style">-</span> Python</li>
        </ul>
        <h3 class="font-bold">## Used Occasionally</h3>
        <ul class="list-[-]">
            <li><span class="list-style">-</span> ASM: MIPS, x86, GBZ80, 6502</li>
            <li><span class="list-style">-</span> Rust</li>
            <li><span class="list-style">-</span> C#</li>
        </ul>
        <h3 class="font-bold">## Tools & Technologies I Use Frequently</h3>
        <ul class="list-[-]">
            <li>
                <span class="list-style">-</span> Build Tools: GNU Make, CMake, Cargo, Ninja
            </li>
            <li>
                <span class="list-style">-</span> Databases: SQL, SQLite, PostGreSQL
            </li>
            <li>
                <span class="list-style">-</span> Game Engines: Godot
            </li>
            <li>
                <span class="list-style">-</span> Editors: Vim
            </li>
            <li>
                <span class="list-style">-</span> Typesetters: Markdown, Typst, LaTeX
        </ul>
</ExperienceLayout>

<style>
    h3 {
        text-decoration: underline;
    }
    li {
        margin: 0 2rem 0 2rem;
    }

    .list-style {
        opacity: 70%;
    }

    @media (min-width: 768px) {
        .experience li {
            display: grid;
            grid-template-columns: 25rem 1fr;
        }
        h3 {
            text-decoration: none;
        }
    }
</style>
