---
import LandingLayout from '../layouts/LandingLayout.astro';
import Footer from '../components/Footer.astro';
---

<LandingLayout>
	<h1 class="font-black">Hi, I'm <span class="tracking-[0.5em] hover:bg-[#D5C3C3] hover:text-[#080808]">[devin]</span>.</h1>
	<div class="space-x-5 font-semibold">
		<a href="https://github.com/devinrankin" target="_blank" class="hover:bg-foreground hover:text-background">github</a>
		<a href="https://linkedin.com/in/devinrankin0" target="_blank" class="hover:bg-foreground hover:text-background">linkedin</a>
		<a href="https://discord.com/users/295721632079675392" target="_blank" class="hover:bg-foreground hover:text-background">discord</a>
	</div>
	<div class="space-x-5 font-semibold text-center">
		<a href="mailto:devinrankin@proton.me" target="_blank" class="hover:bg-foreground hover:text-background">contact</a>
		<a href="/exp" class="hover:bg-foreground hover:text-background">experience</a>
		<a href="https://instagram.com/devinrxnkin" class="hover:bg-foreground hover:text-background">instagram</a>
	</div>
	<Footer>
			Copyright (c) Devin Rankin 2025. All rights reserved.
		</Footer>
</LandingLayout>
