<footer class="w-full text-[#D5C3C3] space-y-3">
    <hr class="bg-[#D5C3C3] border-[#111111]" />
    <p class="text-sm font-bold text-center p-10">Copyright (c) Devin Rankin 2024. All rights reserved.</p>
</footer>