---
const { tags } = Astro.props;

interface Props {
  tags: string[];
}
---

<div class="text-xs text-foreground-dull flex flex-wrap">
  <span class="text-xs text-foreground-dull">#:</span>&lbrack;
  {
    tags.map((tag: string, index: number) => (
      <span class="text-xs text-foreground-dull">
        {tag + ((index + 1) - tags.length == 0 ? "" : ",")}
      </span>
    ))
  }
  &rbrack;
</div>
