---
import LandingLayout from '../layouts/LandingLayout.astro';
---

<LandingLayout>
	<div class="flex flex-col h-screen justify-between tracking-widest">
		<main class="flex flex-col items-center h-full justify-center mx-10 md:mx-0 text-center md:text-left">
		<h1>hi, im <span class="tracking-[0.5em] hover:bg-[#D5C3C3] hover:text-[#080808]">[devin]</span>.</h1>
		<p>i enjoy wasting my time working on useless technology.</p>
		<div class="mt-10 space-x-5 font-bold">
			<a href="https://github.com/devinrankin" target="_blank" class="hover:bg-[#D5C3C3] hover:text-[#080808]">github</a>
			<a href="https://www.linkedin.com/in/devin-rankin-1b5394207/" target="_blank" class="hover:bg-[#D5C3C3] hover:text-[#080808]">linkedin</a>
			<a href="https://discord.com/users/295721632079675392" target="_blank" class="hover:bg-[#D5C3C3] hover:text-[#080808]">discord</a>
		</div>
		<div class="mt-10 space-x-5 font-bold">
			<a href="mailto:devinrankin@proton.me" target="_blank" class="inline hover:bg-[#D5C3C3] hover:text-[#080808]">contact</a>
			<a href="/exp" class="inline hover:bg-[#D5C3C3] hover:text-[#080808]">skills/exp</a>
			<a href="https://legacy.devinrank.in" target="_blank" class="inline hover:bg-[#D5C3C3] hover:text-[#080808]">legacy site</a>
		</div>
		</main>
		<footer class="w-full text-[#D5C3C3] space-y-3">
			<hr class="bg-[#D5C3C3] border-[#111111]" />
			<p class="text-sm font-bold text-center p-10">Copyright (c) Devin Rankin 2024. All rights reserved.</p>
		</footer>
	</div>
</LandingLayout>
