---
import "../styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="icons/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>[Devin]://[skills]</title>
	</head>
	<body class="text-foreground text-lg font-semibold tracking-widest">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #080808;
	}
</style>