---
import "../styles/global.css"
import Footer from "../components/Footer.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="icons/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>[Devin]://[experience]</title>
	</head>
	<body class="text-foreground text-lg font-semibold tracking-widest">
		<a href="/" class="m-10 hover:bg-foreground hover:text-background">&lt;- back to home</a>
    	<main class="flex flex-col pl-[20%]">
			<slot />
		</main>
		<Footer>
			Copyright (c) Devin Rankin 2025. All rights reserved.
		</Footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #080808;
	}
</style>