---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="icons/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>[Devin]://[src]</title>
	</head>
	<body class="text-foreground text-lg">
		<main class="flex flex-col items-center justify-center space-y-10 h-screen tracking-wider overflow-x-hidden mx-4">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #080808;
	}
</style>
